bio.css

header {
    display: flex;
}

.headerText {
    text-align: center;
    padding: 50px;
    font-weight:bold;
    border-radius: 10px;
    position: relative;
}

.img-position {
    position: absolute;
    left: 15px;
    top:35px;
}

.mainContainer {
    width: 95%;
    margin-left: auto;
    margin-right:auto;
}

.labelSearch {
    height: 40px;
    font-size: 20px;
}
.inputSearch {
    height: 40px;
}

.linkRemove a {
    color:white;
    text-decoration: none;
    
}

.bio-tab {
    background-color: hsl(204, 86%, 53%);
    color: white;
}

.bio-company-name {
    font-weight: bold;
    padding-bottom: 10px;
}

.address-section {
    padding-bottom: 20px;
    border-bottom: 2px solid hsl(204, 86%, 53%);
}

.bio-description-header {
    font-weight: bold;
    padding-bottom: 10px;
}

.bio-sector {
    padding-top: 110px;
}

.bio-industry-container {
    text-align: right;
}

.bio-description-container {
    padding-bottom: 30px;
    border-bottom: 2px solid hsl(204, 86%, 53%);
}

.bio-quarterly-header {
    font-weight: bold;
    padding-bottom: 20px;
}
